.product-image
	margin-left: 98px

.product-image__main-block
	display: flex
	flex-direction: row


.product-image__main
	width: 400px
	height: 523px

.product-image__main:hover
	opacity: .5

.product-image__grid
	display: grid
	grid-template-rows: auto
	grid-template-columns: auto auto auto auto
	width: 400px
	margin-left: 80px

.product-image__small
	margin-top: 20px
	margin-right: 20px
	width: 85px
	height: 113px


.product-image__small:hover
	opacity: .5

.product-image__small:last-child
	margin-right: 0


.bracket
	margin-top: 198px
	margin-right: 50px
	width: 21px
	background: no-repeat


.bracket:last-child
	margin-left: 60px
	

.bracket:hover
	opacity: .5