.news-block 
    display: flex
    flex-direction: column
    align-items: flex-start
    font-family: 'Work Sans'
    z-index: 3
    position: absolute
    width: 400px
    max-height: 397px
    left: 700px
    top: 36px
    background: #F1F2F4
    padding: 47px 0 35px 43px


.news-block__title 
    width: 358px
    max-height: 64px
    font-weight: 700
    font-size: 24px
    color: #151C22
    margin: 0
    box-sizing: border-box


.news-block__subtitle
    font-weight: 400
    font-size: 18px
    padding: 15px 0 20px 0 
    box-sizing: border-box

.news-block__text 
    width: 310px
    height: 104px
    font-weight: 400
    font-size: 18px
    color: #727A82
    margin: 0
    padding-bottom: 25px

.news-block__button 
    width: 200px
    height: 64px
    background-color: black
    color: white
    font-size: 16px
    box-sizing: border-box
    // margin-top: 24px

.news-block__button:hover
    opacity: .5

.news-content 
    position: relative
    display: flex
    justify-content: center
    margin: 70px 98px 0 100px

.news-content__foto 
    max-height: 370px


