.contact
	background-color: #F1F2F4
	padding-top: 40px
	margin: 0
	font-family: 'Work Sans'

.contact__form
	padding-bottom: 104px

.contact-info__wrapper
	padding: 0 412px 0 387px

.contact__info
	padding: 25px 0 0 0
	border-color: #151C22
	font-family: 'Work Sans'
	margin: 0

.contact__title
	font-weight: 700
	font-size: 32px
	margin-left: 33px
	margin-bottom: 35px

.contact__label
	font-weight: 500
	font-size: 18px
	padding: 0 20px 0 33px

.contact__label.email
	padding-right: 15px

.contact__input
	width: 389px
	margin: 0 35px 20px 33px
	padding: 18px 100px 19px 29px
	box-sizing: border-box
	font-family: 'Work Sans'

.contact__input.phone
	margin-bottom: 67px
	
.contact__input::plaseholder
	color: #727A82
	font-weight: 500
	font-size: 18px

.contact__textarea
	resize: none
	margin: 12px 35px 0 33px
	width: 500px
	max-height: 200px

.contact__button
	margin: 50px 184px 48px
	width: 200px
	height: 64px
	background-color: #151C22
	color: #FFFFFF
	font-family: 'Work Sans'
	font-weight: 700
	font-size: 16px

.contact__button:hover
	opacity: .5
	cursor: pointer

.footer.contact__footer
	margin-top: 100px

.contact__line
	padding-bottom: 80px