.catalog-page-footer.footer
	margin-top: 26px
	height: 326px

.catalog-page-footer-section
	display: flex
	justify-content: space-between
	margin-right: 194px
	margin-top: 5px
	

.footer__title.catalog
	margin-left: 116px
	margin-top: 73px
	align-self: flex-start

.social-icons.catalog-icons
	margin-top: auto

.navigation.footer-nav
	flex-direction: column
	justify-content: center
	align-items: flex-end	


.footer-nav.navigation__link
	margin-bottom: 29px


.navigation__link.last
	margin-right: 35px

.navigation__link.last.footer-nav
	margin-bottom: 0
