.select-block
	border: none
	
.select-block__item
	margin: 40px 0 40px 1030px
	width: 243px
	height: 50px
	padding: 0
	border: none

.select-block__input
	font-weight: 500
	font-size: 18px
	padding: 18px 120px 10px 29px
