.block-bar
	display: flex
	justify-content: space-between
	max-width: 1365px
	width: 100%
	padding: 120px 0 0 0

.block-bar.news
	padding-top: 75px


.block-bar__link	
	text-decoration: underline
	font-style: normal
	font-weight: 500
	font-size: 18px
	margin: 0
	padding: 10px 103px 0 0

.block-bar__title
	font-weight: 700
	font-size: 32px
	justify-self: flex-start
	padding: 0 0 0 98px
	margin: 0

	